<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Routine</title>
  <link href="https://nepalidatepicker.sajanmaharjan.com.np/v5/nepali.datepicker/css/nepali.datepicker.v5.0.6.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <form action="/examroutine" method="POST">
    Select Class:<select name="studentClass" id="studentClass">
      <option value="" selected disabled>Select Class </option>
      <% uniqueClasses = new Set(studentClassdata.map(cls => cls.studentClass)); %>
     <% uniqueClasses.forEach((cls)=> { %>
        <option value="<%= cls %>"><%= cls %></option>
      <%}); %>
    </select>
      


 <p>
 Select Date: <input type="text" id="nepali-datepicker" name="nepalidate" placeholder="Select Nepali Date"/>
 </p>
 <script src="https://nepalidatepicker.sajanmaharjan.com.np/v5/nepali.datepicker/js/nepali.datepicker.v5.0.6.min.js" type="text/javascript"></script>
 <script type="text/javascript">
 window.onload = function() {
 var mainInput = document.getElementById("nepali-datepicker");
 mainInput.NepaliDatePicker();
 };
 </script>
 subject:
      <select name="subject" id="subject">
        <option value="" selected disabled>Select Subject</option>
        <% uniqueSubjects = new Set(subjectData.map(subj => subj.newsubject)); %>
        <% uniqueSubjects.forEach((subj)=> { %>
          <option value="<%= subj %>"><%= subj %></option>
        <% }); %>
      </select>
      <input type="hidden" name="terminal" value="<%= terminal %>">
  <input type="submit" value="save">
  <input type="hidden" name="academicYear" value="<%= academicYear %>">
  </form>

<table cellspacing="0" border="1">
  <thead>
    <tr>
      <th>Class</th>
      <th>Date</th>
      <th>Subject</th>
    </tr>
    <tr>

    </tr>
  </thead>
  <tbody>
    <% examRoutines.forEach((routine) => { %>
      <tr>
        <td><%=routine.studentClass %></td>
        <td><%= routine.subject %></td>
        <td><%= routine.nepalidate %></td>
        
      </tr>
    <% }) %>
  </tbody>
</table>


  <script src="https://nepalidatepicker.sajanmaharjan.com.np/v5/nepali.datepicker/js/nepali.datepicker.v5.0.6.min.js" type="text/javascript"></script>


  
</body>
</html>